@font-face{
	font-family: 'inter-regular';
	src: url('./assets/fonts/static/Inter-Regular.ttf');
}
@font-face{
	font-family: 'inter-bold';
	src: url('./assets/fonts/static/Inter-Bold.ttf');
}

/* COLORS */

.colorSoftorange{
	color: hsl(35, 77%, 62%);
}
.colorSoftred{
	color: hsl(5, 85%, 63%);
}
.colorOffwhite{
	color: hsl(36, 100%, 99%);
}
.colorGrayishblue{
	color: hsl(233, 13%, 42%);
}
.colorDarkgrayishblue{
	color: hsl(236, 13%, 42%);
}
.colorVerydarkblue{
	color: hsl(240, 100%,5%);
}

/* BACKGROUND COLORS */

.bgcolorSoftorange{
	background-color: hsl(35, 77%, 62%);
}
.bgcolorSoftred{
	background-color: hsl(5, 85%, 63%);
}
.bgcolorOffwhite{
	background-color: hsl(36, 100%, 99%);
}
.bgcolorGrayishblue{
	background-color: hsl(233, 13%, 42%);
}
.bgcolorDarkgrayishblue{
	background-color: hsl(236, 13%, 42%);
}
.bgcolorVerydarkblue{
	background-color: hsl(240, 100%,5%);
}

/* navBar */ 

#navMain ol{
	list-style-type: none;
}

li{
	float: left;
	padding-left: 30px;
}

li:hover{
	color: red;
}

li:active{
	color: red;
}

#imgLogo{
	padding-top: 4px;
	width: 65px;
}

/* MAIN */

main{
	margin: 0 auto;
	font-family: inter-regular;
}

/* MAIN SECTION */

#sectionMain{
	background-color: hsla(0, 0%, 0%, 0.1);
}
#imgMobile{
	width: 600px;
} 

/* PHONE WIDTH */
@media screen and (max-width: 390px){
	main{
		width: 94%;
		padding-top: 20px;
		z-index: 1;
	}
	/* MAIN Overlay */
	
	
	#bgOverlay{
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: hsla(0, 0%, 0%, 0.5);
	}
	
	#imgBurger-mobile{
		float: right;
		padding-top: 14px;
	}
	
	/* navBar */
	#navMain{
		display: none;
		position: fixed;
		background-color: white;
		z-index: 3;
		top: 0;
		bottom: 0;
		right: 0;
		left: 40%;
		column-gap: 40px;
		font-family: inter-bold;
	}
	#navMain-right{
		display: flex;
		flex-flow: column wrap;
		margin-top: -300px;
		margin-left: -40px;
		gap: 26px;
		font-size: 18px;
	}
	#imgClose{
		margin-top: 33px;
		margin-left: 180px;
	}
	/* SECTION MAIN */
	
	#imgMobile{
		width: 100%;
	}
	
	
}

@media screen and (min-width: 391px){
	/* BODY */
	
	body{
		
	}
	
	/* navBar */
	#divNavbar{
		display: grid;
		grid-template-columns: 40% 60%;
	}
	#imgBurger-mobile{
		display: none;
	}
	#imgClose{
		display: none;
		
	}
	#navMain{
		padding-right: 10px;
		display: inline-block;
		width: 100%;
		
	}
	#navMain-right{
		float: right;
		
	}
	/* MAIN SECTION */
	#sectionMain{
		width: 600px;
	}
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }