@font-face{
	font-family: 'inter-regular';
	src: url('./assets/fonts/static/Inter-Regular.ttf');
}
@font-face{
	font-family: 'inter-bold';
	src: url('./assets/fonts/static/Inter-Bold.ttf');
}

/* COLORS */

.colorSoftorange{
	color: hsl(35, 77%, 62%);
}
.colorSoftred{
	color: hsl(5, 85%, 63%);
}
.colorOffwhite{
	color: hsl(36, 100%, 99%);
}
.colorGrayishblue{
	color: hsl(233, 13%, 42%);
}
.colorDarkgrayishblue{
	color: hsl(236, 13%, 42%);
}
.colorVerydarkblue{
	color: hsl(240, 100%,5%);
}

/* BACKGROUND COLORS */

.bgcolorSoftorange{
	background-color: hsl(35, 77%, 62%);
}
.bgcolorSoftred{
	background-color: hsl(5, 85%, 63%);
}
.bgcolorOffwhite{
	background-color: hsl(36, 100%, 99%);
}
.bgcolorGrayishblue{
	background-color: hsl(233, 13%, 42%);
}
.bgcolorDarkgrayishblue{
	background-color: hsl(236, 13%, 42%);
}
.bgcolorVerydarkblue{
	background-color: hsl(240, 100%,5%);
}

/* Font */

.fontInter{
	font-family: inter-regular;
}
.fontInterbold{
	font-family: inter-bold;
}
.smallFont{
	font-size: 15px;
}
.mediumFont{
	font-size: 20px;
}
.largeFont{
	font-size: 36px;
}
/* Separator */

.divSeparator{
	background-color: hsla(36, 100%, 99%,0.25);
	height: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* navBar */ 

#navMain ol{
	list-style-type: none;
}

li{
	float: left;
	padding-left: 50px;
}

#imgLogo{
	padding-top: 4px;
	width: 65px;
}

/* MAIN */

main{
	margin: 0 auto;
	font-family: inter-regular;
}

#mainContent{
	display: grid;
}

/* MAIN SECTION */

#sectionMain{
	display: grid;
}
#imgMobile{
	width: 600px;
} 

h1{
	font-family: inter-bold;
	font-size: 36px;
	margin: 0;
	padding: 0;
}
button{
	border: none;
	height: 40px;
	font-family: inter-bold;
	letter-spacing: 2px;
}
/* NEW SECTION */

#asideMain{
	display: grid;
	grid-auto-rows: minmax(0px, auto);
}
h2{
	font-size: 28px;
}
/* sectionMulti */

#sectionMulti{
	display: grid;
	grid-auto-rows: minmax(160px, auto);
}

/* articleMulti */

.articleMulti{
	display: grid;
	grid-auto-rows: minmax(0px,30px);
	column-gap: 20px;
	row-gap: 2px;
	padding-right: 20px;
}
.imgArticle{
	grid-column: 1/2;
	grid-row: 1/4;
}
.pArticle_number{
	grid-column: 2/3;
	grid-row: 1/2;
	margin-top: 0px;
}
.pArticle_title{
	grid-column: 2/3;
	grid-row: 2/3;
}
.pArticle_desc{
	grid-column: 2/3;
	grid-row: 3/4;
	line-height: 1.4;
}
/* PHONE WIDTH */
@media screen and (max-width: 390px){
	main{
		width: 95%;
		padding-top: 20px;
		z-index: 1;
	}
	#mainContent{
		grid-template-columns: 1fr;
		grid-gap: 60px;
	}
	li:active{
		color: hsl(5, 85%, 63%);
	}
	/* MAIN Overlay */
	
	
	#bgOverlay{
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		background-color: hsla(0, 0%, 0%, 0.5);
	}
	
	#imgBurger-mobile{
		float: right;
		padding-top: 14px;
	}
	
	/* navBar */
	#navMain{
		display: none;
		position: fixed;
		background-color: white;
		z-index: 3;
		top: 0;
		bottom: 0;
		right: 0;
		left: 40%;
		column-gap: 40px;
		font-family: inter-bold;
	}
	#navMain-right{
		display: flex;
		flex-flow: column wrap;
		margin-top: -300px;
		margin-left: -65px;
		gap: 26px;
		font-size: 18px;
	}
	#imgClose{
		margin-top: 33px;
		margin-left: 180px;
	}
	/* ASIDE */
	#asideMain{
		padding-left: 18px;
		padding-right: 18px;
		padding-bottom: 18px;
	}
	/* SECTION MAIN */
	#sectionMain{
		padding-top: 30px;
		grid-template-columns: 1fr 1fr;
		grid-auto-rows: minmax(10px, auto);
		row-gap: 10px;
	}
	#pictureMain{
		grid-column: 1/3;
	}
	#imgMobile{
		width: 100%;
	}
	h1{
		grid-column: 1/3;
		margin-right: 50px;
	}
	#pMain{
		grid-column: 1/3;
		line-height: 1.4;
	}
	#buttonRead:active{
		background-color: hsl(240, 100%,5%);
		color: hsl(36, 100%, 99%);
	}
	/* NEW SECTION */
	#asideMain{
		grid-template-columns: 1fr;
	}
	.titleHoverSoftorange:active{
		color: hsl(35, 77%, 62%);
	}	
	.articleMulti{
		grid-template-columns: 30% 70%;
	}
	.imgArticle{
		width: 100%;
	}
	.pArticle_title:active{
		color: hsl(5, 85%, 63%);
	}
}

/* DESKTOP WIDTH */
@media screen and (min-width: 391px){
	/* BODY */
	body{
		
	}
	/* MAIN */
	
	main{
		width: 70%;
		margin-top: 20px;		
	}
	
	/* navBar */
	#divNavbar{
		grid-columns: 1/3;
		grid-row: 1/2;
		display: grid;
		grid-template-columns: 40% 60%;
		padding-bottom: 20px;
	}
	#imgBurger-mobile{
		display: none;
	}
	#imgClose{
		display: none;
	}
	#navMain{
		display: inline-block;
		width: 100%;
	}
	#navMain-right{
		float: right;
	}
	li:hover{
		color: hsl(5, 85%, 63%);
	}
	/* MAIN CONTENT */
	#mainContent{
		grid-template-columns: 1fr 1fr 1fr;	
		grid-gap: 40px;
	}
	/* MAIN SECTION */
	#sectionMain{
		width: 100%;
		grid-column: 1/3;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	#pictureMain{
		width: 100%;
		grid-column: 1/5;
		grid-row: 1/3;
	}
	#imgMobile{
		width: 100%;
	}
	h1{
		grid-column: 1/3;
		grid-row: 3/6;
		font-size: 44px;
		padding: 20px 160px 20px 0px;
		line-height: 1;
	}
	#pMain{
		grid-column: 3/5;
		grid-row: 3/5;
		line-height: 1.4;
	}
	#buttonRead:hover{
		background-color: hsl(240, 100%,5%);
		color: hsl(36, 100%, 99%);
	}
	/* SECTION NEW */
	#asideMain{
		grid-column: 3/4;
		padding: 0px 34px 20px 34px;
	}
	h2{
		margin-top: 20px;
		margin-bottom: 10px;
	}
	#asidemain p{
		margin: 0;
	}
	.titleHoverSoftorange:hover{
		color: hsl(35, 77%, 62%);
	}
	/* SECTION MULTI */
	#sectionMulti{
		padding-top: 14px;
		grid-column: 1/4;
		width: 100%;
		grid-template-columns: 33.33% 33.33% 33.33%;
	}
	/* */
	.imgArticle{
		height: 140px;
	}
	.pArticle_title:hover{
		color: hsl(5, 85%, 63%);
	}
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }